.intro_pad {
	padding: 0 23px;
}

.page_title {
	height: 64px;
	line-height: 64px;
}

.intro_title2 {
	padding-bottom: 22px;
	border-bottom: 1px solid #d6d7db;
}

.rule_wrap {
	padding: 0 19px;
}

.rule_item {
	padding-bottom: 30px;
}

.rule_img {
	height: 60px;
	width: 60px;
	margin-right: 12px;
}

.rule_box {
	width: 209px;
	width: calc(100% - 73px);
	margin-top: -3px;
}

.rule_title {
	margin-bottom: 10px;
}

.item_text {
	line-height: 20px;
}

.faq_wrap {
	padding: 22px 27px 0 27px;
}

.faq_item {
	padding-bottom: 18px;
}

.faq_img {
	height: 17px;
	width: 17px;
	margin-right: 9px;
}

.faq_box {
	width: 239px;
	width: calc(100% - 26px);
}

.faq_title {
	line-height: 24px;
	margin-bottom: 9px;
	margin-top: -3px;
}

.intro_back_box {
	top: 17px;
	left: 26px;
}